@using GameHouse.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F29727;">
    <div class="container-fluid">
        <!--LOGO-->
        <a asp-controller="Rooms" asp-action="Index" class="navbar-brand"><span class="logo">Mängumaja</span></a>

        <!--NAVBAR-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" asp-controller="Rooms" asp-action="Index">ESILEHT</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Bookings" asp-action="Index">BRONEERINGUD</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Kontakt">KONTAKT</a> </li>
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Rooms" asp-action="AdminRooms">TOAD</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Galleries" asp-action="Index">PILDID</a></li>
                }
            </ul>
            <partial name="_LoginPartial.cshtml" />
            @*            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>*@
        </div>
    </div>
</nav>